<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <h2>Criação de usuário</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/admin/users/insert">
        <input class="form-control my-3" name="email" type="email" placeholder="email@exemplo.com">
        <input class="form-control my-3" name="password" type="password" placeholder="**********">
        <button class="btn btn-success col-12">Criar</button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %> 